@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(56 189 248);
}

.herobg {
  background-image: url("./asstes/images/hands.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}

.cartbg {
  background-image: url("./asstes/images/cart");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: -1;
}

.consultation {
  background-image: url("./asstes/images/consultant.avif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  position: relative;
  z-index: 0;
}

.slider {
  height: calc(100vh - 5rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
}

.slide {
  width: 100vw;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.slide:after,
.offer:after,
.herobg:after,
.consultation:after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -9999999;
}

/* slide cta  */
.slide-cta {
  position: relative;
  z-index: 0;
}

main {
  min-height: calc(84vh - 30px);
}
.footer {
  position: relative;
  inset: auto 0 0;
}

.lang-btn {
  cursor: pointer;
}

.slide1 {
  background-image: url("./asstes/images/slide1.webp");
}
.slide2 {
  background-image: url("./asstes/images/slide2.avif");
}
.slide3 {
  background-image: url("./asstes/images/slide3.avif");
}
.slide4 {
  background-image: url("./asstes/images/slide4.avif");
}
.slide5 {
  background-image: url("./asstes/images/slide5.avif");
}

.aboutImg {
  content: url("./asstes/images/aboutImg.avif");
}
